@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Golos+Text&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Golos Text', sans-serif !important;
}
body{
  background-color: #ECF4FF !important;
  font-family: 'Montserrat', sans-serif !important;
}
